*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid{
    background-color: #A4A8D1;
}
.btp{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    border: #A4A8D1 solid 2px;
    /* display: flex; */
    justify-content: center;
    text-align: center;
}
.tr{
    /* display: flex; */
    /* width: 18rem; */
    border: #A4A8D1 solid 2px;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem;
    padding: 3rem;
    border: 2px solid black;
    

}
.h2{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* @media screen {(300px)
   .container{
    max-width: 300px;
    max-height: 300px;
   } 
} */
