*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid{
    background-color: #A4A8D1;
}
.btp{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    border: #A4A8D1 solid 2px;
    /* display: flex; */
    justify-content: center;
    text-align: center;
}
.tr{
    /* display: flex; */
    /* width: 18rem; */
    border: #A4A8D1 solid 2px;
}
